@model List<LogGridVm>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Uri</th>
            <th>Request Time</th>
            <th>Duration</th>
            <th>Response Code</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.RequestUri</td>
            <td>@item.RequestTimestamp</td>
            <td>@item.Duration</td>
            <td>@item.ResponseCode</td>
            <td><a class="btn" href="/Home/Detail/@item.Id">Detail</a></td>
        </tr>
        }
    </tbody>
</table>